# dependencies
node_modules

# testing
coverage

# production
dist
public
build

# misc
.DS_Store
.env
.env.development
.env.local
.cache/
.idea/
.vscode/
tmp

package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Docz
.docz

# Starter clones
*__clone__
